@model IEnumerable<FinalProject_1933112.Models.Building>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbAppartments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appartment.AppartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nbAppartments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appartment.AppartmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildingID })
        </td>
    </tr>
}

</table>
